@model IEnumerable<OpenRacingTelemetry.Models.Record>

@{
    ViewData["Title"] = "Index";
}

<h2>Records</h2>
<hr/>

<p>
    <a class="btn btn-info" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TimeStart)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TimeEnd)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TimePenalty)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TimeTotal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Notes)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeEnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimePenalty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                <a class="btn btn-default" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a class="btn btn-default" asp-action="Details" asp-route-id="@item.Id">Details</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
